<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ nombreLista | placeholder:'Nueva Lista' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label floating>Nombre de lista:</ion-label>
      <ion-input type="text" [(ngModel)]="nombreLista" name="nombreLista"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Artículo:</ion-label>
      <ion-input (keyup.enter)="agregar()" type="text" [(ngModel)]="nombreItem" name="nombreItem"></ion-input>
    </ion-item>
    <button (click)="agregar()" ion-button class="form-btn">Añadir artículo</button>
  </ion-card>
  <ion-card *ngIf="items.length > 0" class="items_added">
    <ion-card-header>
      <h3>Artículos añadidos</h3>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let item of items; let i = index">
        <button ion-button clear class="list_item">
          {{ item.nombre }}
        </button>
        <button (click)="eliminar(i)" ion-button outline item-right color="primary">
          <ion-icon ios="ios-trash" md="md-trash" class="margin_right5"></ion-icon>
          Eliminar
        </button>
      </ion-item>
    </ion-list>
  </ion-card>
  <div class="btn_wrapper">
    <button (click)="guardarLista()" ion-button icon-left class="button-block">
      <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      Añadir Lista
    </button>
  </div>
</ion-content>
